*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

:root {
    --lora-font: "Lora", serif;
    --poppins-font: "Poppins", sans-serif;
    --main-dark-color: #212023;
    --btn-color: #373737;
    --root-padding: 0 12em;
}

.hidden {
    transition:all .2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
}

aside {
    height:100vh;
    width:100%;
    position:fixed;
    transition: all 0.3s ease-in-out;
    z-index: 5;
}

aside > .bgcolor {
    z-index:2;
    height:100vh;
    width:100%;
    background-color: hsla(0, 0%, 0%, 0.5);
    position:fixed;
}

aside > ul {
    position:absolute;
    right:0;
    top:0;
    z-index:10;
    background-color:white;
    color:grey;
    font-family:var(--poppins-font);
    height:100vh;
    position:fixed;
    width:20%;
    text-align:center;
}

aside > ul > li {
    list-style: none;
    border-bottom:1px solid grey;
    width:100%;
    height:auto;
    padding:1.5em 3em;
    cursor:pointer;
    transition:all .1s ease-in-out;
    position:relative;
}

aside > ul > li > a {
    text-decoration:none;
    color:inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all .1s ease-in-out;
    z-index:15;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

aside > ul > li:hover {
    color:black;
}

aside > ul > .closebtn {
    padding:0 1.5em;
    justify-self:end;
    font-size:2em;
    transition:all .1s ease-in-out;
    cursor:pointer;
}

aside > ul > .closebtn:hover {
        color:black;
}

nav {
    font-family:var(--poppins-font);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:.5em 12em;
    text-transform:uppercase;
    position:relative;
    height:10vh;
}

nav > img {
    cursor:pointer;
}

nav > hr {
    width:78%;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    color:black;
}

.menu {
    display:flex;
    justify-content:center;
    cursor:pointer;
    align-items:center;
}

.menu > h1 {
    font-weight:400;
    font-size:1rem;
    padding-right:1em;
}

.menu-bar {
    height:20px;
    width:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.menu-line {
    margin:2px 0;
    width:100%;
    height:100%;
    background-color:black;
}

main {
    display:flex;
    text-align:center;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    width:100%;
    padding:var(--root-padding);
    height:90vh;
}

.hero {
    padding:4em 2em 3em 2em;
}

.hero > img {
    width:25%;
    height:auto;
    padding-bottom:1em;
}

.hero > h2 {
    font-family:var(--lora-font);
    font-style:italic;
    font-weight:400;
}

button {
    font-family:var(--poppins-font);
    text-transform:uppercase;
    color:black;
    border-radius:30px;
    background-color:white;
    padding:.8rem 4rem;
    font-size:1rem;
    font-weight:300;
    letter-spacing: 2px;
    transition: all .2s ease-in-out;
    cursor:pointer;
}

button:hover {
    color:white;
    background-color:var(--main-dark-color);
}

.img1-container {
    position:relative;
    width:450px;
    height:360px;
}

.img1-container > img {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

.features {
    background-color: #F7F7F7;
    width:100%;
    padding:var(--root-padding);
    height:auto;
    text-align:center;
}

.features-text {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.features > .features-text > h1 {
    font-family:var(--poppins-font);   
}

.features h1 {
    font-weight:300;
    font-size:3rem;
    padding-top:3rem;
}

.features > .features-text hr {
    width:8%;
}

.features-text > p {
    width:60%;
    font-family: var(--lora-font);
    font-style:italic;
    font-size:1.4rem;
    padding:2rem;
}

.grid-container {
    font-family: var(--poppins-font);
    width:100%;
    height:auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    padding:2.8em 0;
}

.grid-container > .grids {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.grid-container > .grids > .logo {
    background-color:black;
    border-radius:50%;
    height:70px;
    width:70px;
    position:relative;
}

.logo > i {
    position:absolute;
    font-size:30px;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:white;
}

.grid-container > .grids > h1 {
    font-size:1.5rem;
    padding:0;
}

.grid-container > .grids > p {
    font-size:.8rem;
    font-family: var(--lora-font);
    padding:1rem;
    line-height:2;
}

.grid-container > .grids {
    border:1px solid #DCD9D9;
    padding:3.5rem 7.5rem;
}

.whywow {
    background-color: white;
    width:100%;
    padding:var(--root-padding);
    height:auto;
    text-align:center;
    font-family: var(--poppins-font);
}

.whywow-text {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.whywow > .whywow-text > h1 {
    font-weight:300;
    font-size:3rem;
    padding-top:3rem;
}

.whywow > .whywow-text hr {
    width:8%;
}

.whywow-text > p {
    width:60%;
    font-family: var(--lora-font);
    font-style:italic;
    font-size:1.4rem;
    padding:2rem;
}

.content1, .content2, .content3 {
    display:flex;
    justify-content:space-between;
    align-items:center;
    text-align:start;
    padding: 2.5rem 0;
}

.content2 {
    border-top:1px solid hsl(0, 0%, 80%);
    border-bottom:1px solid hsl(0, 0%, 80%);
}

.content-main {
    width:70%;
    height:100%;
}

.content-main > h1 {
    font-weight:300;
    font-size:2rem;
    padding:.5rem 0;
    position:relative;
}

.content-main > h1::after {
    content:'';
    position:absolute;
    height:1px;
    width:5%;
    bottom:0;
    left:0;
    background-color:hsl(0, 0%, 80%);
}

.content-main > p {
    font-family: var(--lora-font);
    font-size:.85rem;
    padding:1rem 0;
    line-height: 2;
}

.content-img {
    width:250px;
    height:auto;
    position:relative;
    border-radius:50%;
    height:100%;
}

.content-img > img {
    height:100%;
    width:100%;
    border-radius:inherit;
}

.last-content {
    background-color: #F7F7F7;
    width:100%;
    padding:1em 12em;
    height:50vh;
    text-align:center;
    font-family: var(--poppins-font);
}

.last-content-text {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.last-content > .last-content-text > h1 {
    font-weight:300;
    font-size:3rem;
    padding-top:3rem;
}

.last-content > .last-content-text hr {
    width:8%;
}

.last-content-text > p {
    width:60%;
    font-family: var(--lora-font);
    font-style:italic;
    font-size:1.4rem;
    padding:2rem;
}

.footer {
    height:50vh;
    width:100%;
}

.logos {
    padding:6%;
    background-color:white;
    list-style-type: none;
    display:flex;
    justify-content:center;
    align-items:center;
}

.logos > li {
    margin:.3rem;
}

.logos > li > a {
    text-decoration:none;
    font-size:28px;
    padding:.8rem;
    border:1px solid grey;
    color:var(--main-dark-color);
    transition: all .2s ease-in-out;
}

.logos > li > a:hover {
    color:white;
    background-color:var(--main-dark-color);
}

.footer {
     height:100%;
}

.footer > footer {
    border-top:1px solid hsl(0, 0%, 80%);
}

footer > ul {
    list-style-type: none;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

footer > ul > li {
    font-style:italic;
    font-family:var(--poppins-font);
    padding:2rem 0;
}